Running query:
SELECT pg_get_functiondef('sync_booking_car_id_from_car'::regproc) as def;
{"def":"CREATE OR REPLACE FUNCTION public.sync_booking_car_id_from_car()\n RETURNS trigger\n LANGUAGE plpgsql\nAS $function$\r\nDECLARE\r\n  rentprog_id TEXT;\r\nBEGIN\r\n  SELECT external_id\r\n    INTO rentprog_id\r\n  FROM external_refs\r\n  WHERE entity_type = 'car'\r\n    AND system = 'rentprog'\r\n    AND entity_id = NEW.id\r\n  ORDER BY updated_at DESC NULLS LAST\r\n  LIMIT 1;\r\n\r\n  IF rentprog_id IS NULL THEN\r\n    RETURN NEW;\r\n  END IF;\r\n\r\n  UPDATE bookings\r\n  SET car_id = NEW.id\r\n  WHERE rentprog_car_id = rentprog_id\r\n    AND (car_id IS DISTINCT FROM NEW.id OR car_id IS NULL);\r\n\r\n  RETURN NEW;\r\nEND;\r\n$function$\n"}
